* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 400px;
  min-width: 350px;
}

.App {
  min-width: 400px;
  /* height:100vh; */
  min-height: 800px;
  border:1px solid red;
  position: fixed;
  top: 0px;
  left: 0px;
  display:flex;
  flex-direction: column;
  background-color: #f2f3f4;
}


.CategoryCircle{
  border:1px solid red;
}

.CategoryCircleImg {
  
  margin: 5px 5px 0px 5px;
  padding: 0px;
  border-radius: 50%;
  border:1px solid red;
}

.CategoryCircle p {
  border:1px solid red;
  margin: 0px 0px 0px 5px;
  padding: 0px;
  color: red;
  text-transform: capitalize;
  min-width: 60px;
  min-height: 28px;
  word-break: break-all;
  white-space: normal;
  font-size: 12px;

}

.CategoryCircleTextCon{
  /* border:1px solid red; */
  max-width: 35px;
}

.CategoryCircleCon{
  border:1px solid blue;
  max-width: 370px;
  position: relative;
  display: flex;
  margin: 5px 0px 5px 11px;
}

.ItemCardContainer{
  border:1px solid blue;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  max-height: 600px;
  margin: 5px 0px 5px 11px;
  overflow: scroll;
}

.ItemCardOwnerCon{
  display: flex;
}

.ItemCard{
  margin: 0px 3px 3px 3px;
 
}

.ItemCardImg{
  border-radius: 6px;
}



.ItemCardOwnerImg{
  margin: 5px 5px 5px 5px;
  padding: 0px;
  border-radius: 50%;
  border:1px solid red;
}



.BottomNavBar{
  /* border:1px solid red; */
  display: flex;
  justify-content: space-around;
  
}

.BottomNavBarCon{
  border:1px solid blue;
  margin-top:auto;
  min-height: 60px;
}

.image{
  border:1px solid blue;
  border-radius: 50%;
}