.AddItemPage{
    background-color: white;
    min-height: 730px;


}

.AddItemInputCon{
    min-height: 450px;
    /* border: 1px red solid; */
    padding: 0px 0px 0px 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 1px;
}

input {
    margin-bottom: 10px;
}

#inputTitle{
    width: 200px;
}

select{
    margin-bottom: 10px;
}

#descriptionTextarea {
    width: 200px;
    margin-bottom: 10px;
}

.addPhoto{
  display: none;
}

.button-54 {
    /* margin-top: 20px; */
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f7ae00;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }


