

.searchBarCon{
    background-color: white;
}

.searchBar {
    min-width: 300px;
    margin: 5px 0px 5px 10px;
    background-color: rgb(69, 69, 69);
}

.CategoriesCon {
    display: flex;
    min-width: 410px;
    /* border: 1px red solid; */
    background-color: white;
}

.CatCon{
    min-width: 82px;
    max-width: 82px;
    /* border: 1px red solid; */
    text-align: center;
}

.CatCon > h1 {
    font-size: 60px;
} 

.CatCon > h6 {
    font-size: 20px;
} 


