.ItemCardContainer{
    /* border:1px solid blue; */
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 68vh;
    margin: 5px 5px 5px 11px;
    overflow: scroll;
    /* margin-bottom: 20px; */
    /* background-color: red; */
  }

  .ItemCardContainer::-webkit-scrollbar {
    display: none;
}
