.ItemCard{
    margin: 0px 3px 3px 6px;
   
  }

.ItemCardImg {
    background-image: linear-gradient(white, rgb(238, 238, 238));
}

  .listerImage{
    /* border:1px solid blue; */
    border-radius: 50%;
  }

  .ItemCardOwnerCon{
    display: flex;
    gap: 8px;
  }
  
  .ItemCardTextCon > h1{
    font-size: 15px;

  }

  .ItemCardOwnerCon > h2{
    font-size: 12px;

  }